<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
<div>
  <user-navbar></user-navbar>
  <!--USER ADMINISTRATION-->
  <h3>All Users:</h3>
  <div *ngIf="users">
    <ul>
      <li *ngFor="let user of users">
        <a [routerLink]="['/user-profile', user.username]">
          {{user.username}}
        </a>
        <div *ngIf="!isAdmin(user)">
          <button (click)="makeUserAdmin(user.id)">Make Admin</button>
        </div>
      </li>
    </ul>
  </div>

  <!--KWEET ADMINISTRATION-->
  <h3>All Kweets:</h3>
  <div *ngIf="kweets">
    <ul>
      <li *ngFor="let kweet of kweets">
          {{kweet.message}}
        <div>
          <button (click)="deleteKweet(kweet.id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>

</div>
</body>
</html>
