<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <div *ngIf="user">
    Welcome {{getLoggedUser().username}}!
    <img src={{user.profile.imgUrl}}>

    <h2>Profile</h2>
    Name: {{user.name}}
    Username: {{user.username}}
    Biography: {{user.profile.bio}}
    Residence: {{user.profile.residence}}
    Website: {{user.profile.website}}

    <div *ngIf="following">
      <h2>Following</h2>
      <ul class="profile">
        <li class="profile" *ngFor="let f of following" (click)="gotoUser(f.username)">
          <span class="badge">{{f.username}}</span>
        </li>
      </ul>
      <div *ngIf="getLoggedUser().username === user.username">
        EditableTest
      </div>
    </div>

    <div *ngIf="followers">
      <h2>Followers</h2>
      <ul class="profile">
        <li class="profile" *ngFor="let f of followers" (click)="gotoUser(f.username)">
          <span class="badge">{{f.username}}</span>
        </li>
      </ul>
    </div>

    <div *ngIf="kweets">
      <h2>Kweets</h2>
      <ul>
        <li *ngFor="let kweet of kweets">{{kweet.message}}</li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
